/* Minimalistic CSS styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('kid goku.jpg'); /* Add this line with your image path */
    background-color: #f3f3f3; /* Light gray background */
    margin: 0;
    padding: 0;
    background-size: cover; /* Optional: Scale the background image to cover the entire body */
}

header {
    text-align: center;
    background-color: #e0e0e0; /* Light beige header */
    color: #333; /* Dark gray text */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* White sections */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; /* Dark gray footer */
    color: #fff; /* White text */
}
